
<h1><%= @post.name %></h1>

<p><%= @post.content %></p>

<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <!-- <h2>Name:</h2> <input type="text" name="name" value="<%= @post.name %>"><br><br>
  Content: <br> <textarea name="content" rows="7" cols="80"><%= @post.content %></textarea> <br><br> -->
  <input type="submit" name="delete" value="delete">
</form>
